<header class="head">
    <div class="header_container">
        <nav class="header_nav">
            <a href="./index.html" class="site-logo">
                <svg class="header-logo" width="123" height="16">
                    <use href="/images/icons.svg#icon-logo"></use>
                </svg>
            </a>
            <a onclick="" class="header-camera-link">
                <svg class="header-camera" width="16" height="16">
                    <use href="./images/icons.svg#icon-photo-camera"></use>
                </svg>
            </a>
            <a onclick="">
                <svg class="header-icon" width="32" height="22">
                    <use href="./images/icons.svg#burger-menu"></use>
                </svg>
            </a>
            <ul class="header_nav_menu_ul">
                <li><a href="#" class="header_nav_menu_links">About us</a></li>
                <li><a href="" class="header_nav_menu_links">Our courses</a></li>
                <li><a href="#mentors" class="header_nav_menu_links">Our mentors</a></li>
                <li><a href="#reviews-section" class="header_nav_menu_links">Reviews</a></li>
                <li><a href="" class="header_nav_menu_links">contacts</a></li>
            </ul>
        </nav>
        <a href="#sing-up" class="header_sign_up">sign up</a>
</header>