<div class="hero">
    <div class="hero-main-block">
        <div class="hero-info">
            <h1 class="hero-title">
                Discover the magic of <span class="hero-title-italic">photography</span> in our school
            </h1>
            <p class="hero-subtitle">
                Our photography school offers an unforgettable journey, where you can learn the basics of composition, master technical skills, translate your unique ideas.
            </p>
            <div class="hero-block">
                <div class="hero-happy-block">
                    <div class="hero-block-imgs" href="#reviews">
                        <picture>
                            <!-- Desktop screen (min-width: 1280px) -->
                            <source
                              media="(min-width: 1280px)"
                              srcset="./images/hero-3.png"
                              type="image/png"
                            />
                            <!-- Tablet screen (min-width: 768px) -->
                            <source
                              media="(min-width: 768px)"
                              srcset="./images/hero-3.png"
                              type="image/png"
                            />
                            <!-- Mobile screen (max-width: 767px) -->
                            <source
                              media="(max-width: 767px)"
                              srcset="./images/hero-3.png"
                              type="image/png"
                            />
                            <img
                              class="hero-photo"
                              src="./images/hero-3.png"
                              alt="Герой"
                              loading="lazy"
                            />
                          </picture>
                          <picture>
                            <!-- Desktop screen (min-width: 1280px) -->
                            <source
                              media="(min-width: 1280px)"
                              srcset="./images/hero-2.png"
                              type="image/png"
                            />
                            <!-- Tablet screen (min-width: 768px) -->
                            <source
                              media="(min-width: 768px)"
                              srcset="./images/hero-2.png"
                              type="image/png"
                            />
                            <!-- Mobile screen (max-width: 767px) -->
                            <source
                              media="(max-width: 767px)"
                              srcset="./images/hero-2.png"
                              type="image/png"
                            />
                            <img
                              class="hero-photo hero-img-2"
                              src="./images/hero-2.png"
                              alt="hero-img"
                              loading="lazy"
                            />
                          </picture>
                          
                          <picture>
                            <!-- Desktop screen (min-width: 1280px) -->
                            <source
                              media="(min-width: 1280px)"
                              srcset="./images/hero-1.png"
                              type="image/png"
                            />
                            <!-- Tablet screen (min-width: 768px) -->
                            <source
                              media="(min-width: 768px)"
                              srcset="./images/hero-1.png"
                              type="image/png"
                            />
                            <!-- Mobile screen (max-width: 767px) -->
                            <source
                              media="(max-width: 767px)"
                              srcset="./images/hero-1.png"
                              type="image/png"
                            />
                            <img
                              class="hero-photo hero-img-3"
                              src="./images/hero-1.png"
                              alt=""
                              loading="lazy"
                            />
                          </picture>                          
                    </div>
                    <a class="hero-block-students" href="#reviews-section">
                        <p class="hero-happy-stud">
                            Our happy students
                        </p>
                        <svg width="18" height="9" class="icon-arrow">
                            <use href="/images/icons.svg#icon-Arrow"></use>
                        </svg>
                    </a>
                </div>
                <div class="hero-block-rev" href="#reviews">
                    <div class="hero-vector-block">
                        <svg class="hero-rev-icon" width="20" height="20">
                            <use href="/images/icons.svg#icon-Vector"></use>
                        </svg>
                    </div>
                    <div class="hero-rev-accounting">
                        <p class="hero-rev">Reviews</p>
                        <p class="hero-rev-text">+1500</p> 
                    </div>
                </div>
            </div>
        </div>
        <picture>
          <source srcset="/images/hero.webp 1x, /images/hero@2x.webp 2x" type="image/webp">
          <source srcset="/images/hero.png 1x, /images/hero@2x.png 2x" type="image/png">
            <img src="/images/hero.png" alt="" class="hero-img" loading="lazy">
          </picture>
          
    </div>
</div>