<section class="mentors-section" id="mentors">
    <div class="container">
        <h2 class="mentors-title">
            Our<span class="mentors-title-part"> Mentors</span>
        </h2>
        <ul class="mentors-list">
            <li class="mentors-item">
                <img class="mentors-photo" srcset="
            ./imgages/mentor-1.png    1x,
            ./imgages/mentor-1@2x.png 2x
          " src="../imgages/mentor-1.png" alt="Emilia Smith" />
                <div class="mentors-info">
                    <h3 class="mentors-name">Emilia Smith</h3>
                    <p class="mentors-experience">1.5 years of experience</p>
                </div>
            </li>
            <li class="mentors-item">
                <img class="mentors-photo" srcset="
            ./imgages/mentor-2.png    1x,
            ./imgages/mentor-2@2x.png 2x
          " src="../imgages/mentor-2.png" alt="Alex Lebedev" />
                <div class="mentors-info">
                    <h3 class="mentors-name">Alex Lebedev</h3>
                    <p class="mentors-experience">3.5 years of experience</p>
                </div>
            </li>
            <li class="mentors-item">
                <img class="mentors-photo" srcset="
            ./imgages/mentor-3.png    1x,
            ./imgages/mentor-3@2x.png 2x
          " src="../imgages/mentor-3.png" alt="Mia Dubrovska" />
                <div class="mentors-info">
                    <h3 class="mentors-name">Mia Dubrovska</h3>
                    <p class="mentors-experience">2.0 years of experience</p>
                </div>
            </li>
            <li class="mentors-item">
                <img class="entors-photo" srcset="
            ./imgages/mentor-4.png    1x,
            ./imgages/mentor-4@2x.png 2x
          " src="../imgages/mentor-4.png" alt="Eliot Kovalev" />
                <div class="mentors-info">
                    <h3 class="mentors-name">Eliot Kovalev</h3>
                    <p class="mentors-experience">4.0 years of experience</p>
                </div>
            </li>
        </ul>
    </div>
</section>