<section class="mentors-section" id="mentors">
    <div class="mentors-container">
        <h2 class="mentors-title">
            Our<span class="mentors-title-part"> Mentors</span>
        </h2>
        <ul class="mentors-list">
            <li class="mentors-item">
                <img src="/images/mentor-1.png" alt="" width="180" height="180" class="mentors-photo">
                <div class="mentors-info">
                    <h3 class="mentors-name">Emilia Smith</h3>
                    <p class="mentors-experience">1.5 years of experience</p>
                </div>
            </li>
            <li class="mentors-item">
                <img src="/images/mentor-2.png" alt="" width="180" height="180" class="mentors-photo">
                <div class="mentors-info">
                    <h3 class="mentors-name">Alex Lebedev</h3>
                    <p class="mentors-experience">3.5 years of experience</p>
                </div>
            </li>
            <li class="mentors-item">
                <img src="/images/mentor-3.png" alt="" width="180" height="180" class="mentors-photo">
                <div class="mentors-info">
                    <h3 class="mentors-name">Mia Dubrovska</h3>
                    <p class="mentors-experience">2.0 years of experience</p>
                </div>
            </li>
            <li class="mentors-item">
                <img src="/images/mentor-4.png" alt="" width="180" height="180" class="mentors-photo">
                <div class="mentors-info">
                    <h3 class="mentors-name">Eliot Kovalev</h3>
                    <p class="mentors-experience">4.0 years of experience</p>
                </div>
            </li>
        </ul>
    </div>
</section>