<div class="container">
  <section id="reviews-section" class="reviews-section">
    <h2 class="reviews-head">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <article class="reviews-article">
          <div class="reviews-div">
            <img
              class="reviews-image"
              src="./images/reviewer-1.jpg"
              alt="Foto Abraham Baker"
              width="56px"
              height="56px"
            />
            <div class="reviews-div-head">
              <h3 class="reviews-head-student">Abraham Baker</h3>
              <h4 class="reviews-head-about">Student</h4>
            </div>
            <div class="reviews-icon-div">
              <ul class="reviews-icon-list">
                <li class="reviews-icon-item">
                  <svg class="reviews-icon-pink">
                    <use href="./images/icons.svg#icon-Vector"></use>
                  </svg>
                </li>
                <li>
                  <svg class="reviews-icon-pink">
                    <use href="./images/icons.svg#icon-Vector"></use>
                  </svg>
                </li>
                <li>
                  <svg class="reviews-icon-pink">
                    <use href="./images/icons.svg#icon-Vector"></use>
                  </svg>
                </li>
                <li>
                  <svg class="reviews-icon-pink">
                    <use href="./images/icons.svg#icon-Vector"></use>
                  </svg>
                </li>
                <li>
                  <svg class="reviews-icon">
                    <use href="./images/icons.svg#icon-Vector"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
          <p class="reviews-prg">
            I am very pleased that I decided to enroll in photography school.
            The teachers turned out to be very talented and experienced
            professionals who share their knowledge and are dedicated to their
            work. I was able to expand my skills and discover my own style.
          </p>
        </article>
      </li>

      <li class="reviews-item">
        <article class="reviews-article">
          <div class="reviews-div">
            <img
              class="reviews-image"
              src="./images/reviewer-2.jpg"
              alt="Foto Abraham Baker"
              width="56px"
              height="56px"
            />
            <div class="reviews-div-head">
              <h3 class="reviews-head-student">Amanda Lowery</h3>
              <h4 class="reviews-head-about">Student</h4>
            </div>
            <div class="reviews-icon-div">
              <ul class="reviews-icon-list">
                <li class="reviews-icon-item">
                  <svg class="reviews-icon-pink">
                    <use href="./images/icons.svg#icon-Vector"></use>
                  </svg>
                </li>
                <li>
                  <svg class="reviews-icon-pink">
                    <use href="./images/icons.svg#icon-Vector"></use>
                  </svg>
                </li>
                <li>
                  <svg class="reviews-icon-pink">
                    <use href="./images/icons.svg#icon-Vector"></use>
                  </svg>
                </li>
                <li>
                  <svg class="reviews-icon-pink">
                    <use href="./images/icons.svg#icon-Vector"></use>
                  </svg>
                </li>
                <li>
                  <svg class="reviews-icon">
                    <use href="./images/icons.svg#icon-Vector"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
          <p class="reviews-prg">
            The courses at the photography school exceeded all my expectations.
            I gained not only technical knowledge, but also inspiration and
            motivation to reach new heights in my creativity. Hands-on classes
            and workshops helped me understand different styles of photography.
          </p>
        </article>
      </li>
    </ul>
  </section>
</div>
