.about-sec{
    background-color: #121212;
}

.about-container{
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 100px;
    padding-right: 100px;
}

.content{
    display: flex;
    gap: 40px;
}


.about-title{
    color: #FFFFFF;
    font-family: DM Sans;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.04em;
    margin-bottom: 50px;
}

.accent{
    color: #bea69e;
}

.about-paragraf{
    color: #FFF;
    font-family: DM Sans;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    width: 268px;

}

.about-text{
    display: flex;
    gap: 20px;
}