.hero {
    padding: 80px 0 150px;
    display: flex;
}

.hero-main-block {
    padding: 80px 100px 0 50px;
    border-radius: 30px;
    background: #1D1D1D;
    display: flex;
    margin: 0 auto;
}

.hero-img {
    width: 397px;
    height: 520px;
    background-color: #1D1D1D;
}

.hero-info {
    width: 563px;
    color: #fff;
    margin-right: 130px;
}

.hero-title {
    font-size: 64px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: -2.56px;
    margin-bottom: 20px;
}

.hero-title-italic {
    color: #BEA69E;
    font-size: 64px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.06;
    letter-spacing: -2.56px;
}

.hero-subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28; 
    letter-spacing: -0.28px;
    margin-bottom: 136px;
    width: 418px;
}

.hero-block {
    display: flex;
    width: 390px;
}

.hero-happy-block {
    display: flex;
}

.hero-block-imgs {
    position: relative;
    height: 54px;
    width: 135px;
    display: flex;
    margin-right: 12px;
    cursor: pointer;
}

.hero-photo {
    position: absolute;
    z-index: 999;
}

.hero-img-2 {
    left: 40px;
    z-index: 998;
}

.hero-img-3 {
    left: 80px;
    z-index: 997;
}

.hero-block-rev {
    display: flex;
}

.hero-block-students {
    width: 82px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 40px;
    cursor: pointer;
}

.hero-happy-stud {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.64px;
}

.icon-arrow {
    fill: #fff;
}

.hero-rev-icon {
    fill: #BEA69E;
    stroke: #121212;
}

.hero-vector-block {
    width: 50px;
    height: 50px;
    background-color: #BEA69E;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-block-rev {
    gap: 12px;
    cursor: pointer;
}

.hero-rev-accounting {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.hero-rev {
    color: rgba(255, 255, 255, 0.50);
    font-weight: 400;
    line-height: 1.25; 
    letter-spacing: -0.64px;
}










@media screen and (min-width: 1280px) and (max-width: 1439px) {

    .hero-main-block {
        padding-right: 50px;
    }

    .hero-info {
        margin-right: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .hero-main-block {
        flex-direction: column;
        padding: 64px 155px 0 32px;
    }

    .hero-title {
        font-size: 60px;
        line-height: 1.06; 
        letter-spacing: -2.4px;
    }

    .hero-title-italic {
        font-size: 60px;
        line-height: 64px;
        letter-spacing: -2.4px;
    }

    .hero-subtitle {
        margin-bottom: 40px;
    }

    .hero-info {
        margin-right: 0;
        width: 517px;
    }

    .hero-block {
        margin-bottom: 46px;
    }

    .hero-img {
        margin-left: auto;
        width: 393px;
        height: 434px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .hero-title {
        font-size: 40px;
        line-height: 1.1;
        letter-spacing: -1.6px;
    }

    .hero-title-italic {
        font-size: 40px;
        line-height: 1.1;
        letter-spacing: -1.6px;
    }

    .hero-subtitle {
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.28px;
        max-width: 295px;  
        margin-bottom: 40px; 
    }

    .hero-block-imgs {
        max-width: 109px;
        height: 44px;
        margin-bottom: 4px;
        margin-right: 40px;
    }

    .hero-happy-stud {
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.56px;
        width: 67px;
    }

    .hero-block-students {
        flex-direction: row;
        margin-right: 0;
        width: 89px;
        gap: 4px;
        align-items: center;
    }

    .icon-arrow {
        width: 18px;
        height: 9px;
    }

    .hero-block-rev {
        height: 44px;
    }

    .hero-vector-block {
        width: 44px;
        height: 44px;
    }

    .hero-rev-accounting {
        gap: 4px;
    }

    .hero-happy-block {
        flex-direction: column;
    }

    .hero-photo {
        width: 44px;
        height: 44px;
    }

    .hero-img-2 {
        left: 32px;
    }

    .hero-img-3 {
        left: 64px;
    }

    .hero-img {
        width: 259px;
        height: 314px;
        margin: 0 auto;
    }

    .hero-main-block {
        flex-direction: column;
        padding: 40px 20px 0;
    }

    .hero-info {
        margin-right: 0;
        max-width: 295px;
    }
}
     