.mentors-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.04em;
    margin-bottom: 50px;
}

.mentors-title-part {
    color: #BEA69E;
}

.mentors-list {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.mentors-photo {
    margin-bottom: 16px;
}
.mentors-name {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    margin-bottom: 4px;
}

.mentors-experience {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.mentors-container {
    width: 1240px;
    margin: 0 auto;
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
    .mentors-container {
        width: 1080px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .mentors-container {
        width: 704px;
        padding: 100px 0;
    }

    .mentors-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 93px;
        column-gap: 100px;
    }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .mentors-title {
        font-size: 28px;
        line-height: 1.14;
        letter-spacing: -1.12px;
    }

    .mentors-section {
        padding: 80px 0;
    }

    .mentors-container {
        width: 335px;
    }

    .mentors-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
    }
}