.sign-up-container {
    padding: 150px 0;
}
.sign-up {
    display: flex;
    gap:200px;
    justify-content: center;
    background-color: #121212;
}
@media only screen and (min-width: 1280px) and (max-width: 1439px) {
    .sing-up {
        gap:60px;
    }
}
.form {
    max-width: 480px;
}

.sign-up-form {
    width: 480px;
}

.title { 
    margin-bottom: 20px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.04em;
}

.title-accent {
    color: #BEA69E;
    font-family: DM Sans;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.04em;
}

.text {
    width: 480px;
    margin-bottom: 40px;
}

.form-text {
    color: #FFF;
    font-family: DM Sans;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
}

.form-field {
    margin-bottom: 14px;
}

.form-label {
    display: block;
    color: #FFF;
}

.form-input {
    width: 100%;
    height: 60px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background-color: transparent;
    outline: transparent;
    padding: 18px 20px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 16px;
    line-height: 1.25;
}

.form-input:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.50);
}

.form-input:hover {
    outline: none;
    border-color: rgba(255, 255, 255, 0.50);
}

.form-textarea-field {
    margin-bottom: 40px;
}

.form-textarea {
    width: 100%;
    height: 120px;
    resize: none;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background-color: transparent;
    outline: transparent;
    padding: 18px 20px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 16px;
    line-height: 1.25;
}

.form-textarea:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.50);
}

.form-textarea:hover {
    outline: none;
    border-color: rgba(255, 255, 255, 0.50);
}

.form-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 16px 216px;
    width: 100%;
    border-radius: 12px;
    background: var(--white, #FFF);
    border: none;
}

.form-button-title {
    color: var(--black, #121212);
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.55;
    text-transform: uppercase;
    text-align: center;
}

.form-policy {
    width: 480px;
}

.policy-text {
    color: rgba(255, 255, 255, 0.50);
    font-family: DM Sans;
    font-size: 14px;
    line-height: 1.28;
}

.link-policy {
    width: 100%;
    color: rgba(255, 255, 255, 0.50);
    font-family: DM Sans;
    font-size: 14px;
    line-height: 1.28;
    text-decoration-line: underline;
}

.section-pictures {
    background-color: #121212;
    width: 540px;
    height: 540px;
    display: flex;
    gap: 20px;
}
@media only screen and (max-width: 769px) {
    .section-pictures {
        display: none;
    }
}

.camera-lens {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 180px;
    height: 288px;
    border-radius: 1000px;
    background: #BEA69E;
}

.photocamera {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 340px;
    min-height: 540px;
    border-radius: 1000px;
    background: #1D1D1D;
}
   

                /* Tablet */

@media only screen and (min-width: 375px) and (max-width: 767px) {
    .sing-up {
        padding-top: 100px;
        padding-left: 32px;
        padding-bottom: 100px;
    }
    .form {
        max-width: 480px;
    }
    .sign-up-form {
        width: 480px;
    }
    .title {
        color: #BEA69E;
        font-family: DM Sans;
        font-size: 48px;
        font-weight: 500;
        line-height: 1.12;
        letter-spacing: -0.04em;
    }
    .title-accent {
        color: #FFF;
        font-family: DM Sans;
        font-size: 48px;
        font-weight: 500;
        line-height: 1.12;
        letter-spacing: -0.04em;
    }
    .text {
        width: 480px
    }
    .form-text {
        color: #FFF;
        font-family: DM Sans;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
    }
    .form-field {
        margin-bottom: 14px;
    } 
    .form-input {
        height: 60px;
        padding: 18px 20px;
        color: #FFF;
        font-family: DM Sans;
        font-size: 16px;
        line-height: 1.25;
    }
    .form-textarea {
        height: 119px;
        padding: 18px 20px;
        color: #FFF;
        font-family: DM Sans;
        font-size: 16px;
        line-height: 1.25;
    }
    .form-button-title {
        font-size: 18px;
        line-height: 1.55;
    }
    .form-policy {
        width: 480px;
    }
    .policy-text {
        color: rgba(255, 255, 255, 0.50);
        font-family: DM Sans;
        font-size: 14px;
        line-height: 1.28;
    }
    
    .link-policy {
        width: 100%;
        color: rgba(255, 255, 255, 0.50);
        font-family: DM Sans;
        font-size: 14px;
        line-height: 1.28;
        text-decoration-line: underline;
    }
} 
  

                         /* Mobile */

@media screen and (min-width: 320px) and (max-width: 374px) {
    .sing-up {
       padding: 80px 20px;
    }
    .form {
        width: 335px;
    }
    .sign-up-form {
        width: 335px;
    }
    .title {
        color: #BEA69E;
        font-family: DM Sans;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: -0.04em;
    }
    .title-accent {
        color: #FFF;
        font-family: DM Sans;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: -0.04em;
    }
    .text {
        width: 295px
    }
    .form-text {
        color: #FFF;
        font-family: DM Sans;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.02em;
    }
    .form-field {
        margin-bottom: 8px;
    }
    .form-input {
        height: 46px;
        padding: 18px 14px;
        color: #FFF;
        font-family: DM Sans;
        font-size: 14px;
        line-height: 1.28;
    }
    .form-textarea {
        height: 112px;
        padding: 18px 14px;
        color: #FFF;
        font-family: DM Sans;
        font-size: 14px;
        line-height: 1.28;
    }
    .form-button {
        padding: 14px 127px;
    }
    .form-button-title {
        font-size: 16px;
        line-height: 1.25;
    }
    .form-policy {
        width: 335px;
    }
    .policy-text {
        font-size: 12px;
        line-height: 1.33;
    }
    .link-policy {
        font-size: 11.5px;
        line-height: 1.33;
    }
}
